<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,900|Cinzel+Decorative:400,900|Playfair+Display:400,900" rel="stylesheet" type='text/css'>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1 style="'Cinzel Decorative', cursive"><%= @blog.title %></h1>

    <h3 style="'Playfair Display', serif; padding-bottom: 0; margin-bottom: 0"><%= @blog.teaser %></h3>

    <p style="'Nunito Sans', sans-serif"><%= @blog.body.html_safe %></p>

    <p><small>You are receiving this email because you asked to be notified when new blog articles were posted.  If you no longer wish to receive these emails you can <%= link_to "unsubscribe", edit_user_registration_url(@user) %> here.</small></p>
  </body>
</html>
