<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet" type='text/css'>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1 style="'Poppins', sans-serif; padding-bottom: 0; margin-bottom: 0">Hello <%= @subscriber.first_name %>,</h1>

    <p style="'Poppins', sans-serif">Thanks for visiting Linchpin Realty!  You can schedule your free 15 minute phone consultation <a href="https://calendly.com/linchpin-realty/15min">right here</a>!</p>

    <p style="'Poppins', sans-serif">In the meantime, feel free to hit reply to this email and let me know any extra information about what you want to talk about on your call.  The more information you give me now, the better prepared I can be to give you the answers you need when we talk.</p>

    <h2 style="'Poppins', sans-serif">Looking forward to speaking with you,<br />Anthony</h2>

  </body>
</html>
