<div class="container my-5">
  <h1 class="text-center">Edit Blog Entry</h1>

  <%= render 'form' %>

  <h4 class="text-center"><%= link_to 'Show', @blog %> |
  <%= link_to 'Back', blogs_path %></h4>
</div> <!-- container -->
