<div class="container bg-white">

  <div class="buffer"></div>

  <h1 class="text-center">New Listing</h1>

  <%= render 'form' %>

  <div class="text-center">
    <%= link_to 'Back', listings_path %>
  </div>

  <div class="buffer"></div>

</div> <!-- conatainer -->
