<div class="responsive-hero-div">
    <%= image_tag "house.jpg", class: "responsive-hero-img", alt: "Sunny Orange County house." %>

    <div class="overlap-responsive-image text-center">
      <div class="gradient-overlay slideRight">
        <h1>How much is my house worth?</h1>
      </div> <!-- absolute-bottom-transparent -->
    </div> <!-- overlap-image -->
</div>


<div class="container text-center">
  <div class="buffer"></div>

  <%= render 'form' %>

  <%= link_to 'Back', values_path %>

  <div class="buffer"></div>
</div> <!-- container -->
