<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet" type='text/css'>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1 style="'Poppins', sans-serif; padding-bottom: 0; margin-bottom: 0">Hello <%= @subscriber.first_name %>,</h1>

    <p style="'Poppins', sans-serif">Thanks for visiting Linchpin Realty!  You can download your printable house tour notes sheet <a href="https://s3-us-west-1.amazonaws.com/ocrphotobucket/House+Tour+Notes.pdf">right here</a>!</p>

    <p style="'Poppins', sans-serif">When you go to look at houses, make sure to print out one sheet per house you plan to see.  This way when you get home, you can keep all the different houses straight!  It's a horrible feeling when you get home and can't remember which of the five houses you looked at had that really big fireplace or the crown moulding you loved.</p>

    <h2 style="'Poppins', sans-serif">Happy House Hunting,<br />Your Friends at Linchpin Realty</h2>

  </body>
</html>
