<div class="image-container">
	<%= image_tag "cliff.jpg", style: "top: 0", alt: "Houses on a hill overlooking the ocean in Laguna Beach, California." %>
</div>

<div class="overlap-image text-center">
	<h1 style="padding-top: 150px; margin-top: 0px"></h1>
</div>

<div class="container">
	<h1 class="text-center">Anthony Bayardelle</h1>
	<div class="col-sm-3 text-center">
		<%= image_tag "portrait.jpg", alt: "Anthony Bayardelle", style: "max-width: 200px" %>
	</div>
	<div class="col-sm-9">
		<p>Anthony Bayardelle has worked in sales and client relations for over 15 years across several states and has a wealth of knowledge and experience to bring to the table.  A born and raised New Yorker who recently relocated to the West coast, he is excited to bring the skills he has cultivated to Orange County.</p>
		<p>Anthony is interested in all facets of real estate, from sales and financing to renovations and restoration of old or rundown houses.  In his free time Anthony likes working out, mountain biking, and spending time with his two beautiful daughters.</p>
	</div>
</div> <!-- container -->
