<div class="image-container">
	<%= image_tag "hill.jpg", style: "top: 0", alt: "Houses on a hill overlooking the ocean in Laguna Beach, California." %>
</div>

<div class="overlap-image text-center">
	<h1 style="padding-top: 150px; margin-top: 0px"></h1>
</div>

<div class="container">
	<h1>Home#index</h1>
	<p>Find me in app/views/home/index.html.erb</p>
</div> <!-- container -->
