<div class="image-container">
	<%= image_tag "hill.jpg", style: "top: 0", alt: "Houses on a hill overlooking the ocean in Laguna Beach, California." %>
</div>

<div class="overlap-image text-center">
	<h1 style="padding-top: 150px; margin-top: 0px"></h1>
</div>

<div class="container">
	<h1>Statement about Orange County real estate!</h1>
	<p>Here's where you write things.  All the things.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et tincidunt nisl. Curabitur porttitor scelerisque justo a elementum. Donec ornare elit nibh. Nulla lobortis imperdiet maximus. Maecenas feugiat turpis purus, non laoreet felis pulvinar a. Proin vel lacus orci. Praesent lobortis maximus malesuada. Aliquam vehicula, mi et mattis tincidunt, ligula nisl congue urna, eu molestie neque dolor eget ex. Vestibulum eget felis quam. In diam odio, accumsan ut purus vel, cursus tincidunt arcu. Praesent pretium ante ac metus facilisis, nec scelerisque nisl fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce nunc neque, dapibus ac placerat quis, bibendum sit amet odio. Phasellus non sodales nibh, ac semper tellus.</p>
	<p>Suspendisse mi mi, aliquet vitae placerat at, rutrum ut turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec id commodo augue, non condimentum nisi. Maecenas eget facilisis odio. In vitae accumsan tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis sollicitudin dignissim nibh a interdum. Duis porttitor, orci eu iaculis porttitor, felis nulla porttitor ante, vitae dictum nisi turpis non justo. Fusce interdum pharetra massa, sed cursus ipsum iaculis sed. Proin nunc ipsum, volutpat fermentum sagittis ac, luctus vel dui. Nulla et lectus metus.</p>

	<div class="bottom-buffer"></div>
</div> <!-- container -->
