<div class="landing-page marble">
  <div class="blue-stripe text-center">
    <div class="half-buffer"></div>
    <div class="page-header-2">
      <h1>Buy a Home</h1>
      <h3 class="font-sans text-center">Get started on the path to your dream home.</h3>
    </div>
    <div class="half-buffer"></div>
  </div> <!-- page header -->

  <div class="container background-transparent">
    <div class="half-buffer"></div>

    <div class="row">

      <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
        <div class="new-card border">
          <h3 class="text-center">Get a Free Printable Checklist of <span style="font-weight: 400">Things to Look for When Touring a House</span></h3>

          <!-- Begin Mailchimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
          <form action="https://LinchpinRealty.us20.list-manage.com/subscribe/post?u=bc00f71fdadc313ed5c731ab5&amp;id=3188394d50" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

          <div class="mc-field-group">
          	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
          </label>
          	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
          	<label for="mce-LNAME">Last Name </label>
          	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
          <div class="mc-field-group">
          	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
          	<label for="mce-PHONE">Phone Number  <span class="asterisk">*</span>
          </label>
          	<input type="text" name="PHONE" class="required" value="" id="mce-PHONE">
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>

          </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bc00f71fdadc313ed5c731ab5_3188394d50" tabindex="-1" value=""></div>
              <div class="clear text-center"><input type="submit" value="Get Started" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>

          <!--End mc_embed_signup-->
        </div> <!-- card -->
      </div> <!-- col -->

      <div class="col-xs-12 col-sm-8">
        <ol>
          <h2><li>Find a Realtor</li></h2>
          <p>A good REALTOR® is more than just a person with keys to the lockbox.  Your REALTOR® (yes, we do have to write it that way) is going to be your source of knowledge about your future neighborhood.</p>
          <ul>
            <li><a href="http://www.linchpinrealty.com/blogs/8-questions-to-ask-when-interviewing-a-realtor" target="_blank">8 Questions to Ask When Interviewing a Realtor</a></li>
          </ul>

          <h2><li>Financing Your Home Purchase</li></h2>
          <p>Getting your finances in order isn't just a good idea. It can also give you a huge boost in power when negotiating the price of your future home. It may seem daunting at first, but we'll help guide you through the whole process.</p>
          <ul>
            <li><a href="http://www.linchpinrealty.com/blogs/what-credit-score-do-i-need-to-buy-a-house" target="_blank">What Credit Score Do I Need to Buy a House?</a></li>
            <li><a href="http://www.linchpinrealty.com/blogs/mortgages-101-the-vocabulary" target="_blank">Mortgages 101: The Vocabulary</a></li>
          </ul>

          <h2><li>Your Home Search</li></h2>
          <p>Discovering the right home should be an exciting event. Here's how to make it as stress-free and efficient for you as possible. You don't want to buy just any house.  We'll help you get into the right house for you.</p>
          <ul>
            <li><a href="http://www.linchpinrealty.com/blogs/6-keys-to-looking-at-houses" target="_blank">6 Keys to Looking at Houses</a></li>
          </ul>

          <h2><li>Making an Offer</li></h2>
          <p>This is the most important part of the process and can save (or cost) you huge amounts of money in the long run. This process can be complicated, stressful, and emotional.  We'll arm you with the right information so you come out on top.</p>
          <ul>
            <li><a href="http://www.linchpinrealty.com/blogs/6-common-mistakes-when-making-an-offer-on-a-house" target="_blank">6 Common Mistakes When Making an Offer</a></li>
          </ul>

          <h2><li>Escrow Services</li></h2>
          <p>We know all you want is just to get the keys to your new home. However, Escrow isn't just a waiting period. What you do during this critical window could seriously benefit your life in your new home.</p>
          <ul>
            <li><a href="http://www.linchpinrealty.com/blogs/what-you-don-t-know-about-your-time-in-escrow" target="_blank">What You Don't Know About Escrow</a></li>
          </ul>

          <h2><li>After Closing</li></h2>
          <p>After your escrow period closes, your home is officially yours! We'll help make your transition into your new home easy and painless.</p>

        </ol>
      </div> <!-- form -->

      <div class="col-sm-4 hidden-xs">
        <div class="new-card border">
          <h3 class="text-center">Get a Free Printable Checklist of <span style="font-weight: 400">Things to Look for When Touring a House</span></h3>

          <!-- Begin Mailchimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
          <form action="https://LinchpinRealty.us20.list-manage.com/subscribe/post?u=bc00f71fdadc313ed5c731ab5&amp;id=3188394d50" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

          <div class="mc-field-group">
          	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
          </label>
          	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
          	<label for="mce-LNAME">Last Name </label>
          	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
          <div class="mc-field-group">
          	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
          	<label for="mce-PHONE">Phone Number  <span class="asterisk">*</span>
          </label>
          	<input type="text" name="PHONE" class="required" value="" id="mce-PHONE">
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>

          </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bc00f71fdadc313ed5c731ab5_3188394d50" tabindex="-1" value=""></div>
              <div class="clear text-center"><input type="submit" value="Get Started" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>

          <!--End mc_embed_signup-->
        </div> <!-- card -->
      </div> <!-- col -->

    </div> <!-- row -->

    <div class="buffer"></div>

  </div> <!-- container -->

</div> <!-- landing page -->
