<div class="responsive-hero-div">
    <%= image_tag "house_pool.jpg", class: "responsive-hero-img", alt: "Beautiful backyard, pool, and house." %>

    <div class="overlap-responsive-image text-center">
      <div class="gradient-overlay slideRight">
        <h1>That's it!</h1>
        <div class="text-center" style="width: 100%">
          <h3 class="font-sans">A real, human realtor is now in the process of creating your custom listings report.  Stay tuned!</h3>
          <div class="buffer"></div>
        </div> <!-- container -->
      </div> <!-- absolute-bottom-transparent -->
    </div> <!-- overlap-image -->
</div>


<div class="container text-center">
  <div class="buffer"></div>
  <h2 class="font-sans">In the meantime, you might be interested in some of these articles on finding a house:</h2>
  <ul class="text-left">
    <li><h2><a href="http://www.linchpinrealty.com/blogs/10-things-to-look-at-when-you-tour-a-house">10 Things to Look at When You Tour a House</a></h2></li>
    <li><h2><a href="http://www.linchpinrealty.com/blogs/relocating-to-orange-county">Relocating to Orange County</a></h2></li>
  </ul>
  <div class="buffer"></div>
</div> <!-- container -->
