<main>

  <div class="view jarallax" style="height: 60vh;">
    <img class="jarallax-img" src="<%= asset_path("sell-house.jpg") %>" alt="Buy a House">
    <div class="mask rgba-black-light">
      <div class="container flex-center text-center">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <h1 class="display-3 mb-2 wow fadeInDown color-white" data-wow-delay="0.3s">
              Sell Your House
            </h1>
            <h3 class="text-uppercase mb-3 mt-1 color-white font-weight-bold wow fadeIn" data-wow-delay="0.4s">
              Make sure you get the most for&nbsp;your&nbsp;home.
            </h3>
            <a class="btn btn-primary" data-toggle="modal" data-target="#subscriptionPopup" onclick="ga('send',{'hitType': 'event','eventCategory': 'join', 'eventAction': 'Blog Subscribe'})">Get a Free 15 Minute Consultation Call</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row my-4">
      <div class="col-md-12">
        <h2 class="h1 font-weight-bold color-blue-dark text-center">
          How Do I Sell My House?
        </h2>
        <div class="text-center pb-4">
          <a class="btn btn-sell text-white text-white-hover" href="#optin" >
            Free List of the Top 10 Mistakes Sellers Make
          </a>
        </div>
        <div class="col-lg-4">
          <h2>Step 1: Determine the Right Price for Your Home</h2>
          <p>Determining the right price for your home is one of the most important decisions you'll make in the home sale process.</p>
          <ul>
            <li><a href="http://www.linchpinrealty.com/blogs/how-to-find-the-right-price-to-sell-your-home" target="_blank">How to Find the Right Price to Sell Your Home</a></li>
          </ul>
        </div> <!-- mini col -->

        <div class="col-lg-4">
          <h2>Step 2: Figure Out Your Selling Points</h2>
          <p>One of the first things you need to know about your home is what makes it stand out from the rest of the market.</p>
        </div> <!-- mini col -->

        <div class="col-lg-4">
          <h2>Step 3: Prepare Your House for Sale</h2>
          <p>This includes a thourough deep cleaning, maintenance, decluttering, organization, and the eventual staging process.</p>
        </div> <!-- mini col -->

        <div class="col-lg-4">
          <h2>Step 4: Take Professional Photos</h2>
          <p>In the era of the internet, most buyers will make their first impression of your home on a home search website, so professional photographs couldn't be more important.</p>
        </div> <!-- mini col -->

        <div class="col-lg-4">
          <h2>Step 5: List Your Home on the MLS and Get the Word Out</h2>
          <p>When selling your house, most buyers will find out about it online either via the MLS (which is the tool that U.S. realtors use to showcase homes for sale) or on some other home search website.</p>
        </div> <!-- mini col -->

        <div class="col-lg-4">
          <h2>Step 6: Have an Open House</h2>
          <p>This includes marketing your open house, preparing collateral materials, day of preparations, and how to facilitate your open house.</p>
        </div> <!-- mini col -->

        <div class="col-lg-4">
          <h2>Step 7: Show Your House</h2>
          <p>If you don't immediately become inundated by offers at your open house, which is very rarely happens, it is now time to show your house.</p>
        </div> <!-- mini col -->

        <div class="col-lg-4">
          <h2>Step 8: Compare and Analyze Your Offers</h2>
          <p>You might have multiple offers right away, or you might wait for a while before one offer even materializes. Whether you have a single offer or many, it is still beneficial to analyze any offers that come in with a critical eye.</p>
        </div> <!-- mini col -->

        <div class="col-lg-4">
          <h2>Step 9: Negotiate Your Sale</h2>
          <p>While the price is a very important point to negotiate, It Is by no means the only variable on the table.</p>
        </div> <!-- mini col -->

        <div class="col-lg-4">
          <h2>Step 10: Escrow and Closing</h2>
          <p>Even though you feel like the hard part is over once you accept the offer, there is still much that has to be done during the escrow phase.</p>
          <ul>
            <li><a href="http://www.linchpinrealty.com/blogs/what-you-don-t-know-about-your-time-in-escrow" target="_blank">What You Don't Know About Escrow</a></li>
          </ul>
        </div> <!-- mini col -->

        <div class="col-lg-4 text-center">
          <p><em>For more on these 10 steps, check out the full article on <a href="http://www.linchpinrealty.com/blogs/10-steps-to-sell-your-house" target="_blank">10 Steps to Sell Your House</a>.</em></p>
        </div> <!-- mini col -->

      </div> <!--Grid column-->
    </div> <!--Grid row-->
  </div> <!-- container-->









  <div class="view jarallax big-mobile" id="optin">
    <img class="jarallax-img" src="<%= asset_path("background.jpg") %>" alt="Linchpin Realty Blog" >
    <div class="mask rgba-stylish-slight">
      <div class="container flex-center text-center">
        <div class="row pt-3">
          <div class="col-12">
            <h2>
              Get a <span class="font-weight-bold">Free Printable Checklist</span> of the Top 10 Mistakes Sellers Make
            </h2>
          </div>
          <div class="col-12">
            <%= render partial: "layouts/new_subscriber", locals: { tags: "interest-selling, LM-mistakes-sellers-make" } %>
          </div>
        </div> <!-- row -->
      </div>
    </div>
  </div>






</main> <!-- Main layout -->







<!-- new person popup itself -->
<div class="modal fade" id="subscriptionPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body mx-4 mb-4">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="text-center mt-4">Get a Free 15 Minute Consultation&nbsp;Call</h3>
        <%= render partial: "layouts/new_subscriber", locals: { tags: "interest-selling, LM-15-minute-consultation" } %>
      </div>
    </div>
  </div>
</div>






<script>
  $(document).ready(function() {
    // object-fit polyfill run
    objectFitImages();
    /* init Jarallax */
    jarallax(document.querySelectorAll('.jarallax'));
    jarallax(document.querySelectorAll('.jarallax-keep-img'), {
        keepImg: true,
    });
  });
</script>
