<div class="image-container">
	<%= image_tag "aerial.jpg", style: "top: 0", alt: "Aerial view of a suburb at the foot of the Porter Ranch hills." %>
</div>

<div class="container text-center">
  <h1>Contact Me</h1>

  <%= render 'form' %>

  <%= link_to 'Back', contacts_path %>
  
  <div class="bottom-buffer"></div>
</div> <!-- container -->
