<div class="row">
  <div class="container">
    <h1 class="text-center">Edit <%= @pillar.name %></h1>
    <%= render 'form' %>

    <%= link_to 'Show', @pillar %> |
    <%= link_to 'Back', pillars_path %>
  </div> <!-- container -->
</div> <!-- row -->
