<div class="row">
  <div class="container">
    <h1 class="text-center">Create a New Pillar</h1>

    <%= render 'form' %>

    <%= link_to 'Back', pillars_path %>
  </div> <!-- container -->
</div> <!-- row -->
