<div class="container py-5">
  <h1 class="text-center pb-4">New Resource</h1>

  <%= render 'form', resource: @resource %>

  <div class="text-center"><%= link_to 'Back to Index', resources_path, class: "btn btn-grey btn-sm" %></div>
</div> <!-- container -->
