<!-- page-specific content -->
  <% title "Free Listings Report" %>
  <%= content_for :head do %>
    <meta name="description" content="Free personalized report of houses for sale. Quick and easy!">
  <% end %>
<!-- end page specific content -->

<div class="responsive-hero-div">
    <%= image_tag "house_pool.jpg", class: "responsive-hero-img", alt: "Beautiful backyard, pool, and house." %>

    <div class="overlap-responsive-image text-center">
      <div class="gradient-overlay slideRight">
        <h1>What type of home are you looking for?</h1>
        <div class="text-center container" style="width: 100%">
          <h3 class="font-sans">The more information I have, the better I can find you exactly what you're looking for.</h3>
        </div> <!-- container -->
      </div> <!-- absolute-bottom-transparent -->
    </div> <!-- overlap-image -->
</div>


<div id="form" class="container text-center">
  <%= render 'form' %>
</div> <!-- container -->
