<!-- page-specific content -->
  <% title "Welcome to Linchpin Realty" %>
  <%= content_for :head do %>
    <meta name="description" content="Start your real estate journey with an expert resouce as your guide.  Whether you're looking to buy or sell, we've got your back.">

    <!-- Event snippet for Quick Form Submit conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-803011261/0dAfCIqkk4QBEL318_4C',
          'event_callback': callback
      });
      return false;
    }
    </script>
  <% end %>
<!-- end page specific content -->

<div class="responsive-hero-div">
    <%= image_tag "house_pool.jpg", class: "responsive-hero-img", alt: "Beautiful backyard, pool, and house." %>

    <div class="overlap-responsive-image text-center">
      <div class="gradient-overlay slideRight">
        <h1>What type of home are you looking for?</h1>
        <div class="text-center container" style="width: 100%">
          <h3 class="font-sans">The more information I have, the better I can find you exactly what you're looking for.</h3>
        </div> <!-- container -->
      </div> <!-- absolute-bottom-transparent -->
    </div> <!-- overlap-image -->
</div>


<div id="form" class="container text-center">
  <%= render 'form' %>
</div> <!-- container -->
