<div class="container">
  <h1 class="text-center">Subscriber Information</h1>

  <%= render 'form', subscriber: @subscriber %>

  <div class="text-center">
    <%= link_to 'Subscriber Page', @subscriber %> |
    <%= link_to 'Back to Subscribers List', subscribers_path %>
  </div>

  <div class="buffer"></div>
</div>
