<div class="responsive-hero-div">
    <%= image_tag "form.jpg", class: "responsive-hero-img", alt: "Beautiful backyard, pool, and house." %>

    <div class="overlap-responsive-image text-center">
      <div class="gradient-overlay slideRight">
        <h1>What are you looking for?</h1>
        <div class="text-center container" style="width: 100%">
          <h3 class="font-sans">The more information I have, the better I can find you exactly what you're looking for.</h3>
          <a href="#form" id="form"><div class="btn">Start Form</div></a>
        </div> <!-- container -->
      </div> <!-- absolute-bottom-transparent -->
    </div> <!-- overlap-image -->
</div>


<div id="form" class="container text-center bg-white">
  <%= render 'form' %>
  <div class="buffer"></div>
</div> <!-- container -->

<script>
  $(document).on('click', '#form', function(event){
      event.preventDefault();
      $('html, body').animate({
          scrollTop: $( $.attr(this, 'href') ).offset().top
      }, 500);
  });
</script>
