/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'ionicons';






/*
==============================================
Variables
==============================================
*/

$font-decorative: 'Cinzel Decorative', cursive;
$font-serif: 'Playfair Display', serif;
$font-cursive: 'Playball', cursive;
$font-sans: 'Nunito Sans', sans-serif;

$blue-dark: #031D44;
$blue-light: #4D7EA8;
$red: #890E05;
$grey-dark: #50514F;
$grey-light: #B2B2B2;
$creme: #F4E8C1;
$creme-background: #F4F0E3;
$text-shadow: 1px 2px 2px $blue-light;
$transparent-white: rgba(255, 255, 255, 0.75);







/*
==============================================
Basics
==============================================
*/

label { text-transform: capitalize; }
body { font-family: $font-serif; color: $blue-dark}
h1 { font-family: $font-decorative; text-shadow: $text-shadow; font-size: 50px; }
@media screen and (max-width: 768px) { h1 { font-size: 30px }}
.linkish { cursor: pointer; text-decoration: underline; color: $red; }
a { color: $red }
hr { border-color: $blue-dark }
img { width: 100% }
.bottom-buffer { height: 70px }
td { padding: 5px}
.blue-stripe { background-color: $blue-dark; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); color: white; position: relative; padding: 25px 0 25px 0; font-size: 20px}
.blue-stripe * { color: white !important; }
@media screen and (max-width: 992px) and (min-width: 768px) { .blue-stripe { font-size: 17px }}
.header-row { text-align: center; }
p { font-family: $font-sans }

/* CARDS */
.card {
	position: relative;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin: 25px;
	width: calc(50% - 60px);
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.card *:hover {
	text-decoration: none !important;
}

.card .image-box {
	max-height: 250px;
	overflow: hidden;
}

.card .padding-box {
	padding: 15px;
}

.card:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card h1 {
	font-size: 30px;
	color: $blue-dark !important;
}

.card h4, p {
	color: $blue-dark !important;
}

@media screen and (max-width: 768px) {
	.card {
		width: calc(100% - 60px);
	}
}

@media screen and (min-width: 1200px) {
	.card {
		width: calc(33% - 60px);
	}
}

	/* Card Variations */
	.no-hover.card:hover {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

	.card.full-width {
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.card.full-width .padding-box {
		padding: 35px 50px 35px 50px;
	}

/* BUTTONS */
.btn, button {
	border-radius: 1px;
	font-size: 20px;
	background-color: $red;
	color: white;
	font-weight: 900;
	text-transform: capitalize;
  	display: inline-block;
  	vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
    -webkit-transition-property: transform;
  	transition-property: transform;
  	margin: 10px 0 10px 0;
}

.btn:hover, .btn:focus, .btn:active, button:hover, button:focus, button:active {
	background-color: $blue-dark;
	color: white;
    -webkit-transform: scale(1.1);
  	transform: scale(1.1);
}




/* ALERTS */

.alert {
		position: relative;
    background: white;
    color: $blue-dark;
		border-radius: 0;
		margin: 0;
}

.alert-success { border-color: $red; }
.alert-info { border-color: $blue-dark; }
.alert-warning, .alert-danger { border-color: #F08080; }
.alert button { margin-top: -3px; }

/* GLOW */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(	137, 14, 5, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(	137, 14, 5, 0.6);
  outline: 0 none;
}












/*
==============================================
Full Page Background
==============================================
*/
.container { position: relative; }
footer { position: relative }

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}




/*
==============================================
Main Nav
==============================================
*/

#main-nav.navbar-default .navbar-brand {
    font-family: $font-decorative;
    color: $creme;
    font-size: 25px;
    margin-top: 5px;
}

#main-nav.navbar-default {
    font-size: 16px;
		font-family: $font-serif;
    background-color: $blue-dark;
    border: none;
		margin-bottom: 0px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#main-nav.navbar-default .navbar-nav>li>a {
    color: white;
		height: 55px;
}

#main-nav.navbar-default .navbar-nav>.active>a,
#main-nav.navbar-default .navbar-nav>.active>a:hover,
#main-nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
}
#main-nav.navbar-default .navbar-toggle {
    border-color: $creme;
}
#main-nav.navbar-default .navbar-toggle:hover,
#main-nav.navbar-default .navbar-toggle:focus {
    background-color: $creme;
}
#main-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: $creme;
}
#main-nav.navbar-default .navbar-toggle:hover .icon-bar,
#main-nav.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: $blue-dark;
}

/* Underline From Center */
.center-ul-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.center-ul-hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $blue-light;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.center-ul-hover:hover:before, .center-ul-hover:focus:before, .center-ul-hover:active:before {
  left: 0;
  right: 0;
}







/*
==============================================
IMAGES
==============================================
*/

.image-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 400px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.image-container img {
	max-width: 100%;
	position: absolute;
	bottom: 0;
}

@media screen and (min-width: 1100px) {
	.image-container img {
		margin-top: -100px;
	}

	.image-container {
			height: 500px;
	}
}

.overlap-image {
	position: relative;
	margin-top: -400px;
	height: 400px;
}

.overlap-image .absolute-bottom-transparent {
	background: $transparent-white;
	width: 100%;
	position: absolute;
	margin: 0px;
	padding: 25px;
	bottom: 0;
}

@media screen and (max-width: 768px) {
	.image-container {
		text-align: center;
		width: 300%;
		margin-left: -100%;
	}

	.image-container img {
		display: inline-block;
		height: 400px;
		width: auto;
		position: relative;
	}

	.overlap-image {
		margin-top: -400px;
		height: 400px;
	}
}







/*
==============================================
Footer
==============================================
*/

footer {
	background-color: $blue-dark;
	color: $creme;
	padding: 30px 0 20px 0;
}

.page-minus-footer {
	min-height: calc(100vh - 300px);
}

footer h1 {
	color: white;
}

.social-row {
	margin: 15px 0 15px 0;
}

footer .icon {
	font-size: 40px;
	padding: 0 10px 0 10px;
}

footer .icon:hover {
	color: $blue-light;
}

.social-row {
	margin-bottom: 25px;
}












/*
==============================================
Login Pages
==============================================
*/

.basic-info label {
	padding-top: 10px;
}

.problems-area label {
	padding-left: 25px !important;
}







/*
===============================================
Forms
===============================================
*/

/* FAKED FORM CONTROL */
select#contact_preferred_contact, select#contact_purpose {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}









/*
===============================================
Pages
===============================================
*/

.container h1 {
	margin: 30px 0 25px 0;
}

/* User#show */
.messagesDiv .icon {
	font-size: 30px;
	padding: 0 10px 0 0;
}

.icon:hover {
	text-decoration: none;
}

.archivedDiv {
	color: $grey-dark;
}


/* listings */

.fancy-border {
	border: solid 1px $blue-dark;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 40px;
}

.fancy-border h1, h2, h3, h4, h5, p {
	padding-left: 25px;
	padding-right: 25px;
}

.fancy-border *:hover {
	text-decoration: none;
}

.property-details img.fancy-border {
	margin-bottom: 5px;
}

.property-details {
	padding: 0 20px 20px 20px;
	position: relative;
}

.property-details a {
	color: $blue-dark;
}

.property-details:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.property-details a:hover {
	text-decoration: none;
	color: $blue-dark;
}

.property-details .ion {
	padding: 0 5px 0 5px;
}

.property-details .ion:hover {
	color: $grey-dark;
}

.property-details h2 {
	font-family: $font-decorative;
	margin-left: 15px;
}

.property-details img {
	width: 100%;
}



/* Listings#show */

.header-row.listings-show h1 {
	margin-bottom: 0px;
	padding-bottom: 5px;
}

.header-row.listings-show h3 {
	margin-top: 0px;
	padding-top: 0px;
}

.header-row.listings-show img {
	max-width: 500px;
	margin: 25px 0 5px 0;
}

.card.property-details {
	padding: 25px;
}


/* Blog */
#tag_cloud {
	display: block;
	margin-left: auto;
	margin-right: auto;
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
