/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'ionicons';






/*
==============================================
Variables
==============================================
*/

$font-decorative: 'Cinzel Decorative', cursive;
$font-serif: 'Playfair Display', serif;
$font-cursive: 'Playball', cursive;
$font-sans: 'Nunito Sans', sans-serif;
.font-sans { font-family: $font-sans }

$blue-dark: #031D44;
$blue-light: #4D7EA8;
$red: #890E05;
$grey-dark: #393939;
$grey-light: #B2B2B2;
$creme: #F4E8C1;
$creme-background: #F4F0E3;
$text-shadow: 1px 2px 2px $blue-light;
$transparent-white: rgba(255, 255, 255, 0.5);
$transparent-white-overlay: rgba(255, 255, 255, 0.75);
$transparent-blue: rgba(3,29,68, 0.5);
.background-creme { background-color: $creme }

.border-grey { border-color: $grey-dark }






/*
==============================================
Basics
==============================================
*/

body { font-family: $font-serif; color: $blue-dark; max-width: 100%; overflow-x: hidden;}
label { text-transform: capitalize; }
h1 { font-family: $font-decorative; text-shadow: $text-shadow; font-size: 50px; }
@media screen and (max-width: 768px) { h1 { font-size: 30px }}
.linkish { cursor: pointer; text-decoration: underline; color: $red; }
a { color: $grey-dark }
hr { border-color: $blue-dark }
img { width: 100% }
.bottom-buffer { height: 70px }
.buffer { height: 50px }
td { padding: 5px}
.blue-stripe { background-color: $blue-dark; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); color: white; position: relative; padding: 25px 0 25px 0; font-size: 20px}
.blue-stripe * { color: white !important; }
@media screen and (max-width: 992px) and (min-width: 768px) { .blue-stripe { font-size: 17px }}
.header-row { text-align: center; }
p { font-family: $font-sans }

@media screen and (min-width: 1600px) { .container.lg-white { background-color: $transparent-white; z-index: 5} }
.container.bg-white { background-color: $transparent-white }


/* CARDS */
.card {
	position: relative;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin: 25px;
	width: calc(50% - 60px);
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.card *:hover {
	text-decoration: none !important;
}

.card .image-box {
	max-height: 250px;
	overflow: hidden;
}

.card .padding-box {
	padding: 15px;
}

.card.padding-box {
	padding: 25px;
}

.card:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card h1 {
	font-size: 30px;
	color: $blue-dark !important;
}

.card h4, p {
	color: $blue-dark !important;
}

.card.full-width h1 {
	font-size: 50px;
}

@media screen and (max-width: 768px) {
	.card {
		width: calc(100% - 60px);
	}
}

@media screen and (min-width: 1200px) {
	.card {
		width: calc(33% - 60px);
	}
}

	/* Card Variations */
	.no-hover.card:hover {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

	.card.full-width {
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.card.full-width .padding-box {
		padding: 35px 50px 35px 50px;
	}

/* BUTTONS */
.btn, button {
	border-radius: 1px;
	font-size: 20px;
	background-color: $red;
	color: white;
	font-weight: 900;
	text-transform: capitalize;
  	display: inline-block;
  	vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
    -webkit-transition-property: transform;
  	transition-property: transform;
  	margin: 10px 0 10px 0;
}

.btn:hover, .btn:focus, .btn:active, button:hover, button:focus, button:active {
	background-color: $blue-dark;
	color: white;
    -webkit-transform: scale(1.1);
  	transform: scale(1.1);
}




/* ALERTS */

.alert {
		position: relative;
    background: white;
    color: $blue-dark;
		border-radius: 0;
		margin: 0;
		z-index: 30;
}

.alert-success { border-color: $red; }
.alert-info { border-color: $blue-dark; }
.alert-warning, .alert-danger { border-color: #F08080; }
.alert button { margin-top: -3px; }

/* GLOW */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(	137, 14, 5, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(	137, 14, 5, 0.6);
  outline: 0 none;
}












/*
==============================================
Full Page Background
==============================================
*/
.container { position: relative; }
footer { position: relative }

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}














/*
==============================================
Main Nav
==============================================
*/

#main-nav.navbar-default {
	height: 70px;
	z-index: 30;
}

#main-nav.navbar-default .navbar-brand {
    margin-top: -10px;
		z-index: 20;
}

#main-nav.navbar-default .navbar-brand img {
	height: 60px;
	width: auto;
}

@media screen and (max-width: 768px) {
	#main-nav.navbar-default .navbar-brand img {
		height: 40px;
	}
}

#main-nav.navbar-default {
    font-size: 16px;
		font-family: $font-serif;
    background-color: $blue-dark;
    border: none;
		margin-bottom: 0px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#main-nav.navbar-default .navbar-nav>li>a {
    color: white;
		height: 50px;
		margin-top: 20px;
		margin-bottom: -20px;
}

@media screen and (max-width: 768px) {
	#main-nav.navbar-default .navbar-nav>li>a {
		background-color: $transparent-white-overlay;
		color: $blue-dark;
	}
}


#main-nav.navbar-default .navbar-nav>.active>a,
#main-nav.navbar-default .navbar-nav>.active>a:hover,
#main-nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
}
#main-nav.navbar-default .navbar-toggle {
    border-color: $creme;
}
#main-nav.navbar-default .navbar-toggle:hover,
#main-nav.navbar-default .navbar-toggle:focus {
    background-color: $creme;
}
#main-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: $creme;
}
#main-nav.navbar-default .navbar-toggle:hover .icon-bar,
#main-nav.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: $blue-dark;
}

/* Underline From Center */
.center-ul-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.center-ul-hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $blue-light;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.center-ul-hover:hover:before, .center-ul-hover:focus:before, .center-ul-hover:active:before {
  left: 0;
  right: 0;
}















/*
==============================================
Responsive Hero
==============================================
*/


.responsive-hero-div {
	width: 100%;
	height: calc(100vh - 55px);
	position:relative;
	display:inline-block;
	overflow:hidden;
	margin-bottom: -10px;
}

.responsive-hero-img {
	position:absolute;
	top:50%;
	width: auto;
	min-height:100%;
	display:block;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	min-width:100%;
	z-index: 10;
}

.overlap-responsive-image {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 15;
}

@media screen and (min-width: 768px) and (max-width: 1200px){
	.responsive-hero-div {
		width: 100%;
		height: 400px;
		position:relative;
		display:inline-block;
		overflow:hidden;
	}
}

.scroll-div {
	position: absolute;
	bottom: 0;
	z-index: 15;
	width: 100%
}

.scroll-div .icon {
	text-align: center;
	color: white;
	font-size: 150px;
	padding-bottom: 300px;
}




/*
==============================================
IMAGES
==============================================
*/

.image-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 300px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index: 10;
}

.image-container img {
	max-width: 100%;
	position: absolute;
	bottom: 0;
}

.overlap-image {
	position: relative;
	margin-top: -300px;
	height: 300px;
	z-index: 15;
}

@media screen and (min-width: 1100px) {
	.image-container {
			height: 400px;
	}
	.overlap-image {
		margin-top: -400px;
		height: 400px;
	}

}

@media screen and (min-width: 1500px) {
	.image-container {
			height: 600px;
	}
	.overlap-image {
		margin-top: -600px;
		height: 600px;
		padding-top: 100px;
	}
}

.overlap-image .absolute-bottom-transparent {
	background: $transparent-white-overlay;
	width: 100%;
	position: absolute;
	margin: 0px;
	padding: 25px;
	bottom: 0;
}

@media screen and (max-width: 768px) {
	.image-container {
		text-align: center;
		width: 300%;
		margin-left: -100%;
	}

	.image-container img {
		display: inline-block;
		height: 300px;
		width: auto;
		position: relative;
	}

	.overlap-image {
		margin-top: -300px;
		height: 300px;
	}
}

.gradient-bottom {
	width: 100%;
	position: absolute;
	margin: 0px;
	padding: 25px;
	bottom: 0;
	background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* For Safari 5.1 to 6.0.4 */
	background: -o-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* For Opera 11.1 to 12.0.1 */
	background: -moz-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* Standard syntax (must be last) */
}

.gradient-overlay {
	width: 100%;
	position: absolute;
	margin: 0px;
	padding: 25px;
	top: 0;
    background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* For Safari 5.2 to 6.0.2 */
    background: -o-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* For Opera 11.2 to 12.0.2 */
    background: -moz-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* Standard syntax (must be last) */
}

.gradient-overlay h1 {
	font-size: 30px;
}

.gradient-overlay .text {
	width: 60%;
	display: inline-block;
	padding-left: 25px;
	vertical-align: middle;
}

.gradient-overlay img {
	border: solid $blue-dark;
	border-radius: 50%;
	width: 125px;
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 768px) {
	.gradient-overlay {
		width: 100%;
		position: absolute;
		margin: 0px;
		padding: 25px;
		top: 0;
		height: auto;
	    background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* For Safari 5.1 to 6.0.2 */
	    background: -o-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* For Opera 11.1 to 12.0.2 */
	    background: -moz-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* Standard syntax (must be last) */
	}

	.gradient-overlay .text {
		width: 100%;
		padding-left: 0px;
	}
}

.profile-pic {
	max-width: 200px;
	margin: 0 !important;
	vertical-align: top;
}

@media screen and (min-width: 1200px) {
	.gradient-overlay {
		position: relative;
		display: block;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 250px;
		background: none;
		background-color: $transparent-white-overlay;
		padding: 50px 30px 50px 30px;
		text-align: center;
	}

	.gradient-overlay h1 {
		font-size: 40px;
	}

	.gradient-overlay h4 {
		font-size: 30px;
	}

	.profile-pic {
		max-width: 300px;
	}
}


@media screen and (max-width: 768px) {
	max-width: 150px !important;
}





/*
==============================================
Footer
==============================================
*/

footer {
	background-color: $blue-dark;
	color: $creme;
	padding: 30px 0 0 0;
}

.page-minus-footer {
	min-height: calc(100vh - 300px);
}

footer h1 {
	color: white;
}

.social-row {
	margin: 15px 0 15px 0;
}

footer .icon {
	font-size: 40px;
	padding: 0 10px 0 10px;
	color: white !important;
}

footer .icon:hover {
	color: $blue-light !important;
}

.social-row {
	margin-bottom: 25px;
}












/*
==============================================
Login Pages
==============================================
*/

.basic-info label {
	padding-top: 10px;
}

.problems-area label {
	padding-left: 25px !important;
}







/*
===============================================
Forms
===============================================
*/

/* FAKED FORM CONTROL */
select#contact_preferred_contact, select#contact_purpose, select#value_sell_timeframe {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}









/*
===============================================
Pages
===============================================
*/

/* INDEX */

.blog-list-links {
	padding: 15px 0 15px 0;
}

.blog-list-links:hover * {
	text-decoration: none !important;
}

.blog-list-links:hover {
	background-color: $transparent-blue !important;
}

.container h1 {
	margin: 30px 0 25px 0;
}

/* User#show */
.users .icon {
	font-size: 30px;
	padding: 0 10px 0 0;
}

.users h1 {
	margin-top: 50px;
	border-bottom: thin $grey-dark solid;
}

@media screen and (max-width: 435px) {
	.users .icon {
		font-size: 20px;
		padding: 0 5px 0 0;
	}
}

.icon:hover {
	text-decoration: none;
}

.archivedDiv {
	color: $grey-dark;
}



/* listings */

.fancy-border {
	border: solid 1px $blue-dark;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 40px;
}

.fancy-border h1,
.fancy-border h2,
.fancy-border h3,
.fancy-border h4,
.fancy-border h5,
.fancy-border p {
	padding-left: 25px;
	padding-right: 25px;
}

.fancy-border *:hover {
	text-decoration: none !important;
}

.property-details img.fancy-border {
	margin-bottom: 5px;
}

.property-details {
	padding: 0 20px 20px 20px;
	position: relative;
}

.property-details a {
	color: $blue-dark;
}

.property-details:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.property-details a:hover {
	text-decoration: none;
	color: $blue-dark;
}

.property-details .ion {
	padding: 0 5px 0 5px;
}

.property-details .ion:hover {
	color: $grey-dark;
}

.property-details h2 {
	font-family: $font-decorative;
	margin-left: 15px;
}

.property-details img {
	width: 100%;
}



/* Listings#show */

.header-row.listings-show h1 {
	margin-bottom: 0px;
	padding-bottom: 5px;
}

.header-row.listings-show h3 {
	margin-top: 0px;
	padding-top: 0px;
}

.header-row.listings-show img {
	max-width: 500px;
	margin: 25px 0 5px 0;
}

.card.property-details {
	padding: 25px;
}


/* Blog */
#tag_cloud {
	display: block;
	margin-left: auto;
	margin-right: auto;
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

$size: 31px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
		margin: 0 3px 0 3px;
  }
}











/*
==============================================
slideRight
==============================================
*/


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideRight {
	0% { transform: translateX(-150%); }
	100% { transform: translateX(0%); }
}

@-webkit-keyframes slideRight {
	0% { -webkit-transform: translateX(-150%); }
	100% { -webkit-transform: translateX(0%); }
}
