/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'ionicons';






/*
==============================================
Variables
==============================================
*/

$font-decorative: 'Cinzel Decorative', cursive;
$font-serif: 'Playfair Display', serif;
$font-cursive: 'Playball', cursive;
$blue-dark: #031D44;
$blue-light: #4D7EA8;
$red: #890E05;
$grey-dark: #50514F;
$grey-light: #B2B2B2;
$creme: #F4E8C1;
$creme-background: #F4F0E3;
$text-shadow: 1px 2px 2px $blue-light;







/*
==============================================
Basics
==============================================
*/

label { text-transform: capitalize; }
body { font-family: $font-serif; color: $blue-dark}
h1 { font-family: $font-decorative; text-shadow: $text-shadow; font-size: 50px; }
.linkish { cursor: pointer; text-decoration: underline; color: $blue-light; }

/* BUTTONS */
.btn, button {
	border-radius: 1px;
	font-size: 20px;
	background-color: $red;
	font-weight: 900;
	text-transform: capitalize;
  	display: inline-block;
  	vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
    -webkit-transition-property: transform;
  	transition-property: transform;
  	margin: 10px 0 10px 0;
}

.btn:hover, .btn:focus, .btn:active, button:hover, button:focus, button:active {
	background-color: $grey-light;
    -webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

/* ALERTS */

.alert {
    background: #ffffff;
    color: #666666;
    font-weight: bold;
    font-size: small;
    padding: 12px;
    padding-left: 16px;
    border-top: solid 3px #CCCCCC;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
       -moz-box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
            box-shadow: 0 10px 10px -5px rgba(0,0,0,.08);
}

.alert-success {
	border-color: $red;
}

.alert-info {
	border-color: $blue-dark;
}

.alert-warning, .alert-danger {
	border-color: #F08080;
}

.alert button {
	margin-top: -3px;
}




/*
==============================================
Full Page Background
==============================================
*/
.container { position: relative; }

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}




/*
==============================================
Main Nav
==============================================
*/

#main-nav.navbar-default .navbar-brand {
    font-family: $font-decorative;
    color: $creme;
    font-size: 25px;
    margin-top: 5px;
}

#main-nav.navbar-default {
    font-size: 14px;
    background-color: $blue-dark;
    border-bottom-width: 1px;
    border-color: $creme;
    border-top: none;
    border-left: none;
    border-right: none;
}

#main-nav.navbar-default .navbar-nav>li>a {
    color: $creme;
    font-weight: bolder;
}

#main-nav.navbar-default .navbar-nav>li>a:hover,
#main-nav.navbar-default .navbar-nav>li>a:focus {
    font-weight: 900;
		text-shadow: $text-shadow;
}

#main-nav.navbar-default .navbar-nav>.active>a,
#main-nav.navbar-default .navbar-nav>.active>a:hover,
#main-nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
}
#main-nav.navbar-default .navbar-toggle {
    border-color: $creme;
}
#main-nav.navbar-default .navbar-toggle:hover,
#main-nav.navbar-default .navbar-toggle:focus {
    background-color: $creme;
}
#main-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: $creme;
}
#main-nav.navbar-default .navbar-toggle:hover .icon-bar,
#main-nav.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: $creme;
}




/*
==============================================
Login Pages
==============================================
*/

.basic-info label {
	padding-top: 10px;
}

.problems-area label {
	padding-left: 25px !important;
}
