/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require simple_form_extension
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'ionicons';






/*
==============================================
Variables
==============================================
*/

$font-decorative: 'Cinzel Decorative', cursive;
$font-serif: 'Playfair Display', serif;
$font-cursive: 'Playball', cursive;
$font-sans: 'Poppins', sans-serif;
$font-typewriter: 'Inconsolata', monospace;
.font-sans { font-family: $font-sans }
.font-serif { font-family: $font-serif }
.font-cursive { font-family: $font-cursive }
.font-decorative { font-family: $font-decorative }

$white: #FFFFFF;
$blue-dark: #031D55;
$blue-light: #4D7EA8;
$red: #890E05;
$grey-dark: #393939;
$grey-light: #A2A2A2;
$creme: #C0C0C0;
$creme-background: #acacac;
$text-shadow: 1px 2px 2px $blue-light;
$transparent-white: rgba(255, 255, 255, 0.6);
$transparent-white-overlay: rgba(255, 255, 255, 0.75);
$transparent-blue: rgba(3,29,68, 0.5);

.background-creme { background-color: $creme }
.background-transparent { background-color: $transparent-white }
.background-blue { background-color: $blue-dark !important }
.background-red-hover:hover { background-color: $red !important }
.background-grey-hover:hover { background-color: $grey-dark !important }


.border-grey { border-color: $grey-dark }
.transparent-white { background-color: $transparent-white }

.color-creme { color: $creme }
.color-blue-light { color: $blue-light }
.color-blue-dark { color: $blue-dark }

.extreme-callout { font-family: $font-sans; font-weight: bolder }





/*
==============================================
Basics
==============================================
*/

body { font-family: $font-serif; color: $blue-dark; max-width: 100%; overflow-x: hidden;}
h1 { font-family: $font-decorative; text-shadow: $text-shadow; font-size: 50px; }
h3 { font-family: $font-sans; font-weight: 200 }
@media screen and (max-width: 768px) { h1 { font-size: 30px }}
.linkish { cursor: pointer; text-decoration: underline; color: $red; }
a { color: $grey-dark }
hr { border-color: $blue-dark }
img { width: 100% }
.bottom-buffer { height: 70px }
.buffer { height: 50px }
.half-buffer { height: 25px }
td { padding: 5px}
.blue-stripe { background-color: $blue-dark; 		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); color: white; position: relative; padding: 25px 0 25px 0; font-size: 20px}
.blue-stripe * { color: white !important; }
@media screen and (max-width: 992px) and (min-width: 768px) { .blue-stripe { font-size: 17px }}
.header-row { text-align: center; }
p { font-family: $font-sans }
.padding-10 { padding: 10px }

@media screen and (min-width: 1600px) { .container.lg-white { background-color: $transparent-white; z-index: 5} }
.container.bg-white { background-color: $transparent-white }

label { font-family: $font-sans; font-weight: 800}
::placeholder { font-family: $font-sans; font-weight: 200}

.photo-fill { object-fit: fill }





/* ------------------------*/
/* ------------------------*/
/* -----LANDING PAGE ------*/
/* ------------------------*/
/* ------------------------*/

.landing-page .btn {
	font-family: $font-sans;
	font-weight: bold;
}

.landing-page h2 {
	font-family: $font-sans;
	font-weight: bold;
	color: $red;
}

.landing-page p, .landing-page ul {
	font-size: 1.6rem;
	font-style: $font-sans;
}









/* TEXT */
.paragraph-spacing {
	padding-bottom: 15px;
}






/** NEW CARD **/
.page-header-2 { width: 80%; margin-left: auto; margin-right: auto; }

.new-card {
	position: relative;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 10px;
	margin: 10px;
	width: 100%;
}

.new-card.border {
	border: solid thin $blue-dark;
}

.new-card h2 {
	color: black !important;
	font-family: $font-sans;
	font-weight: bolder;
	font-size: 2.3rem;
}

.new-card i {
	color: $red !important;
	font-size: 50px;
}

.new-card .btn {
	max-width: 100%;
	font-size: 1.4rem;
	font-family: $font-sans;
	font-weight: bold;
}

/* CARDS */
.card {
	position: relative;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin: 25px;
	width: calc(50% - 60px);
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	border: solid 1px $blue-dark;
}

.card *:hover {
	text-decoration: none !important;
}

.card .image-box {
	max-height: 250px;
	overflow: hidden;
}

.card .padding-box {
	padding: 15px;
}

.card.padding-box {
	padding: 25px;
}

.card:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card h1 {
	font-size: 30px;
	color: $blue-dark !important;
}

.card h4, p {
	color: $blue-dark !important;
}

.card.full-width h1 {
	font-size: 50px;
}

@media screen and (max-width: 768px) {
	.card {
		width: calc(100% - 60px);
	}
}

@media screen and (min-width: 1200px) {
	.card {
		width: calc(33% - 60px);
	}
}

	/* Card Variations */
	.no-hover.card:hover {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

	.card.full-width {
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.card.full-width .padding-box {
		padding: 35px 50px 35px 50px;
	}

	.show-cards .card h1 {
		margin: 0;
		text-align: center;
		font-size: 35px;
	}

	.show-cards .card {
		margin-bottom: 50px;
	}

	.show-cards .card h3 {
		margin: 10px;
	}

/* BUTTONS */
.btn, button {
	border-radius: 1px;
	font-size: 20px;
	background-color: $red;
	color: white;
	font-weight: 900;
	text-transform: capitalize;
  	display: inline-block;
  	vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
    -webkit-transition-property: transform;
  	transition-property: transform;
  	margin: 10px 0 10px 0;
}

.btn:hover, .btn:focus, .btn:active, button:hover, button:focus, button:active {
	background-color: $blue-dark;
	color: white;
    -webkit-transform: scale(1.1);
  	transform: scale(1.1);
}




/* ALERTS */

.alert {
		position: relative;
    background: white;
    color: $blue-dark;
		border-radius: 0;
		margin: 0;
		z-index: 30;
}

.alert-success { border-color: $red; }
.alert-info { border-color: $blue-dark; }
.alert-warning, .alert-danger { border-color: #F08080; }
.alert button { margin-top: -3px; }

/* GLOW */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input:active,
.uneditable-input:focus {
  border-color: rgba(	137, 14, 5, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(	137, 14, 5, 0.6);
  outline: 0 none;
}












/*
==============================================
Full Page Background
==============================================
*/
// .container { position: relative; }
// footer { position: relative }
//
// img.bg {
//   /* Set rules to fill background */
//   min-height: 100%;
//   min-width: 1024px;
//
//   /* Set up proportionate scaling */
//   width: 100%;
//   height: auto;
//
//   /* Set up positioning */
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 0;
// }
//
// @media screen and (max-width: 1024px) { /* Specific to this particular image */
//   img.bg {
//     left: 50%;
//     margin-left: -512px;   /* 50% */
//   }
// }














/*
==============================================
Main Nav
==============================================
*/

#main-nav.navbar-default {
	height: 95px;
	z-index: 30;
}

#main-nav.navbar-default .navbar-brand {
		z-index: 20;
}

#main-nav.navbar-default .navbar-brand img {
	width: auto;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 768px) {
	#main-nav.navbar-default .navbar-brand img {
		height: 40px;
	}
}

#main-nav.navbar-default {
    font-size: 16px;
		font-weight: 200;
		font-family: $font-sans;
    background-color: $white;
    border: none;
		margin-bottom: 0px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#main-nav.navbar-default .navbar-nav>li>a {
    color: $blue-dark;
		height: 50px;
		margin-bottom: -35px;
}

@media screen and (max-width: 768px) {
	#main-nav.navbar-default .navbar-nav>li>a {
		background-color: $transparent-white-overlay;
		color: $blue-dark;
		margin-bottom: 0px;
	}
}


#main-nav.navbar-default .navbar-nav>.active>a,
#main-nav.navbar-default .navbar-nav>.active>a:hover,
#main-nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
}
#main-nav.navbar-default .navbar-toggle {
    border-color: $blue-dark;
}
#main-nav.navbar-default .navbar-toggle:hover,
#main-nav.navbar-default .navbar-toggle:focus {
    background-color: $blue-dark;
}
#main-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: $blue-dark;
}
#main-nav.navbar-default .navbar-toggle:hover .icon-bar,
#main-nav.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: $white;
}

#main-nav .dropdown-menu:li {
    text-align: left;
}

@media screen and (min-width: 768px) {
  #main-nav .dropdown:hover .dropdown-menu,
  #main-nav .dropdown .dropdown-menu:hover {
      display: block;
      margin-top: 30px;
			background-color: $transparent-white-overlay;
   }
}

/* Underline From Center */
.center-ul-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.center-ul-hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $blue-light;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.center-ul-hover:hover:before, .center-ul-hover:focus:before, .center-ul-hover:active:before {
  left: 0;
  right: 0;
}















/*
==============================================
Responsive Hero
==============================================
*/


.responsive-hero-div {
	width: 100%;
	height: 400px;
	position:relative;
	display:inline-block;
	overflow:hidden;
	margin-bottom: -10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.responsive-hero-img {
	position:absolute;
	top:50%;
	width: auto;
	min-height:100%;
	max-width: 150%;
	display:block;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	min-width:100%;
	z-index: 10;
}

.overlap-responsive-image {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 15;
}

@media screen and (max-width: 768px) {
	.responsive-hero-img {
		max-width: none;
		height: 400px;
	}
}

.scroll-div {
	position: absolute;
	bottom: 0;
	z-index: 15;
	width: 100%
}

.scroll-div .icon {
	text-align: center;
	color: white;
	font-size: 150px;
	padding-bottom: 300px;
}




/*
==============================================
IMAGES
==============================================
*/

.image-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 300px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index: 10;
}

.image-container img {
	max-width: 100%;
	position: absolute;
	bottom: 0;
}

.overlap-image {
	position: relative;
	margin-top: -300px;
	height: 300px;
	z-index: 15;
}

@media screen and (min-width: 1100px) {
	.image-container {
			height: 400px;
	}
	.overlap-image {
		margin-top: -400px;
		height: 400px;
	}

}

@media screen and (min-width: 1500px) {
	.image-container {
			height: 600px;
	}
	.overlap-image {
		margin-top: -600px;
		height: 600px;
		padding-top: 100px;
	}
}

.overlap-image .absolute-bottom-transparent {
	background: $transparent-white-overlay;
	width: 100%;
	position: absolute;
	margin: 0px;
	padding: 25px;
	bottom: 0;
}

@media screen and (max-width: 768px) {
	.image-container {
		text-align: center;
		width: 300%;
		margin-left: -100%;
	}

	.image-container img {
		display: inline-block;
		height: 300px;
		width: auto;
		position: relative;
	}

	.overlap-image {
		margin-top: -300px;
		height: 300px;
	}
}

.gradient-bottom {
	width: 100%;
	position: absolute;
	margin: 0px;
	padding: 25px;
	bottom: 0;
	background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* For Safari 5.1 to 6.0.4 */
	background: -o-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* For Opera 11.1 to 12.0.1 */
	background: -moz-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.4)); /* Standard syntax (must be last) */
}

.gradient-overlay {
	width: 70%;
	max-width: 900px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	margin-top: 50px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* For Safari 5.2 to 6.0.2 */
    background: -o-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* For Opera 11.2 to 12.0.2 */
    background: -moz-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* Standard syntax (must be last) */
}

.gradient-overlay h1 {
	font-size: 30px;
}

.gradient-overlay .text {
	width: 60%;
	display: inline-block;
	padding-left: 25px;
	vertical-align: middle;
}

.gradient-overlay img {
	border: solid $blue-dark;
	border-radius: 50%;
	width: 125px;
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 768px) {
	.gradient-overlay {
		width: 80%;
		position: absolute;
		margin-left: 10%;
		padding: 25px;
		top: 0;
		height: auto;
	    background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* For Safari 5.1 to 6.0.2 */
	    background: -o-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* For Opera 11.1 to 12.0.2 */
	    background: -moz-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.7)); /* Standard syntax (must be last) */
	}

	.gradient-overlay .text {
		width: 100%;
		padding-left: 0px;
	}
}

.profile-pic {
	max-width: 200px;
	margin: 0 !important;
	vertical-align: top;
}





/*
==============================================
Footer
==============================================
*/

footer {
	background-color: $blue-dark;
	color: $white;
	padding: 30px 0 30px 0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.page-minus-footer {
	min-height: calc(100vh - 300px);
}

footer h1 {
	color: white;
}

.social-row {
	margin: 15px 0 15px 0;
}

footer .icon {
	font-size: 40px;
	padding: 0 10px 0 10px;
	color: white !important;
}

footer .icon:hover {
	color: $blue-light !important;
}

.social-row {
	margin-bottom: 25px;
}

.footer-logo {
	max-width: 250px;
	width: 45%;
	padding: 10px 5% 10px 5%;
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 768px) {
	.footer-logo {
		width: 90%;
	}
}










/*
==============================================
Login Pages
==============================================
*/

.basic-info label {
	padding-top: 10px;
}

.problems-area label {
	padding-left: 25px !important;
}







/*
===============================================
HOME
===============================================
*/

.typed-type-header {
	color: white !important;
	font-family: $font-typewriter;
	font-weight: 700;
	text-shadow: 2px 2px 3px rgba(50, 50, 50, 1);
	z-index: 50;
}

.typed-type-header h2 {
	font-size: 50px;
}

.typed-type-header h3 {
	font-size: 40px;
}











/*
===============================================
Forms
===============================================
*/

/* FAKED FORM CONTROL */
select#contact_preferred_contact, select#contact_purpose, select#value_sell_timeframe {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.big-form h2 {
	padding-top: 10px !important;
}







/*
===============================================
Pages
===============================================
*/

/* INDEX */

.blog h1 {
	margin-bottom: 5px !important;
}

.blog-list-links {
	padding: 15px 0 15px 0;
}

.blog-list-links:hover * {
	text-decoration: none !important;
}

.blog-list-links:hover {
	border: solid thin $transparent-blue !important;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.container h1 {
	margin: 30px 0 25px 0;
}

/* User#show */
.users .icon {
	font-size: 30px;
	padding: 0 10px 0 0;
}

.users h1 {
	margin-top: 50px;
	border-bottom: thin $grey-dark solid;
}

@media screen and (max-width: 435px) {
	.users .icon {
		font-size: 20px;
		padding: 0 5px 0 0;
	}
}

.icon:hover {
	text-decoration: none;
}

.archivedDiv {
	color: $grey-dark;
}



/* listings */

.fancy-border {
	border: solid 1px $blue-dark;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 40px;
}

.fancy-border h1,
.fancy-border h2,
.fancy-border h3,
.fancy-border h4,
.fancy-border h5,
.fancy-border p {
	padding-left: 25px;
	padding-right: 25px;
}

.fancy-border *:hover {
	text-decoration: none !important;
}

.property-details img.fancy-border {
	margin-bottom: 5px;
}

.property-details {
	padding: 0 20px 20px 20px;
	position: relative;
}

.property-details a {
	color: $blue-dark;
}

.property-details:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.property-details a:hover {
	text-decoration: none;
	color: $blue-dark;
}

.property-details .ion {
	padding: 0 5px 0 5px;
}

.property-details .ion:hover {
	color: $grey-dark;
}

.property-details h2 {
	font-family: $font-decorative;
	margin-left: 15px;
}

.property-details img {
	width: 100%;
}



/* Listings#show */

.header-row.listings-show h1 {
	margin-bottom: 0px;
	padding-bottom: 5px;
}

.header-row.listings-show h3 {
	margin-top: 0px;
	padding-top: 0px;
}

.header-row.listings-show img {
	max-width: 500px;
	margin: 25px 0 5px 0;
}

.card.property-details {
	padding: 25px;
}


/* Blog */
#tag_cloud {
	display: block;
	margin-left: auto;
	margin-right: auto;
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

$size: 31px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
		margin: 0 3px 0 3px;
  }
}

.blog-page p {
	font-family: $font-sans;
}

.blog-page h1 {
	font-size: 30px !important;
	font-family: $font-serif;
}




/* Landing Pages */

.fake-form-control {
	margin-top: 10px;
}

.fake-form-control select {
  height: 35px;
  background: white;
  width: 100%;
}

/* Quicks */
.quick-form h2 {
	margin-bottom: 20px;
}

.progress-bar-item {
	width: 18%;
	display: inline-block;
	padding: 10px;
}

.progress-bar-item h1 {
	margin-bottom: 5px;
	color: $grey-light !important;
	text-shadow: 1px 2px 2px $grey-light;
}

.progress-bar-item p {
	margin-bottom: 5px;
	color: $grey-light !important;
}

.progress-bar-item.active h1 {
	margin-bottom: 5px;
	color: $blue-dark !important;
	text-shadow: 1px 2px 2px $blue-light;
}

.progress-bar-item.active p {
	margin-bottom: 5px;
	color: $blue-dark !important;
}









/*
==============================================
Users#show
==============================================
*/

.blog-card {
	padding: 0px;
}

.blog-card h3, .blog-card p {
	color: $blue-dark !important;
	padding: 0 10px 0 10px;
}

.blog-card p a {
	color: $grey-dark !important;
	padding: 0 10px 0 10px;
}



/*
==============================================
Users#show
==============================================
*/

td.read-td {
	vertical-align: top;
	width: 5%;
}

td.read-td i {
	 font-size: 20px !important;
}




/*
==============================================
slideRight
==============================================
*/


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideRight {
	0% { transform: translateX(-150%); }
	100% { transform: translateX(0%); }
}

@-webkit-keyframes slideRight {
	0% { -webkit-transform: translateX(-150%); }
	100% { -webkit-transform: translateX(0%); }
}




/* direct_uploads.css */

.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}
