<div class="container">
  <h1 class="text-center color-blue">Get Prequalified</h1>

  <%= render 'form', info: @info %>

  <div class="text-center">
    <%= link_to 'Back', infos_path %>
  </div>

</div> <!-- container -->
